html
    head
        base(href="/admin/")
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        script( src="javascripts/jquery.js" )
        script( src="javascripts/bootstrap.js" )
        script( src="javascripts/fetch.js" )
        script( src="javascripts/main.js" )
        script( defer src="javascripts/auth.js" )

    body
        .row(style="padding: 20px")
            .container.col-4.justify-content-center
                h4 Admin authorize
                form(action='/admin/secret/auth' method='POST')
                    .form-group
                        label(for='login') Email или логин
                        input#login.form-control( name="login", aria-describedby='emailHelp', placeholder='Введите логин')
                    .form-group
                        label(for='password') Пароль
                        input#password.form-control(name="password" type='password', placeholder='Введите пароль')
                    input.btn.btn-primary(type='submit' value='Войти')