extends ../../layout

block content
    script( defer src="/javascripts/transletion.js" )
    form.col-md-12
        .form-group
            label(for='translationText') введите перевод
            input#translationText.form-control(placeholder='введите перевод')
        .form-group
        #message.alert.alert-danger(style="display: none")

        #updataTranslationButton.btn.btn-primary(data-id = id) изменить перевод