extends ../layout

block content
    script( defer src="javascripts/locale.js" )

    form.col-md-12
        .form-group
            label(for='languageTitle') Название языка
            input#languageTitle.form-control(placeholder='Введите название')
            .invalid-feedback
                | Такой язык уже существует
        .custom-file
            input#langImage.custom-file-input(type='file')
            label.custom-file-label(for='langImage') Добавить изображение
        .form-group
            #message.alert.alert-danger(style="display: none")
        .form-group
            #addLanguageButton.btn.btn-primary(style="display: inline-block")  Добавить язык