extends ../layout

block content
    script( defer src="/javascripts/news.js" )
    form
        .form-group
            label(for='Title') Заголовок
            input#Title.form-control(type='text', placeholder='введите заголовок новости')
        .form-group
            label(for='TextNews') Текс новости
            textarea#TextNews.form-control(rows='3')
